
* {
    box-sizing: border-box;
}

[class*="col-"] {
    width: 100%;
    padding: 12px;
    float: left;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Inconsolata', monospace;
    background: linear-gradient(to right, #AFEEEE, #8FBC8F)
}

/*Text*/
.main{
  text-align:center;
}
h1 {
    text-align: center;
    text-transform: inherit;
    text-transform: 
}
p {
    font-size: 20px;
    text-align: center;
     font-family: 'Open Sans Condensed', sans-serif;
}
text {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
  fill: black;
  stroke: red;
  stroke-width: 4px;
  text-align:center;
}
.stroke-behind {
  paint-order: stroke fill;

* {
    box-sizing: border-box;
}

[class*="col-"] {
    width: 100%;
    padding: 12px;
    float: left;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Inconsolata', monospace;
    background: linear-gradient(to right, #AFEEEE, #8FBC8F)
}

/*Text*/
.main{
  text-align:center;
}
h1 {
    text-align: center;
    text-transform: inherit;
    text-transform: 
}
p {
    font-size: 20px;
    text-align: center;
     font-family: 'Open Sans Condensed', sans-serif;
}
text {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
  fill: black;
  stroke: red;
  stroke-width: 4px;
  text-align:center;
}
.stroke-behind {
  paint-order: stroke fill;
}